# Regressione - G3.2

## 1. Analisi del Dataset

In [1]:
import pandas as pd
from sklearn.datasets import fetch_openml

# Carica il dataset utilizzando fetch_openml
meta = fetch_openml(name='meta', version=1, parser='auto')
california_housing = fetch_openml(name='california_housing', version=7, parser='auto')
kin8nm = fetch_openml(name='kin8nm', version=1, parser='auto')
chscase_census2 = fetch_openml(name='chscase_census2', version=1, parser='auto')

### 1.1 Meta

In [6]:
# Estraiamo i dati, le label e i nomi delle feature dal Dataset META
data_meta = meta.data
target_meta = meta.target
feature_names_meta = meta.feature_names
description_meta = meta.DESCR

# Ora puoi utilizzare i dati, le label e le informazioni sul dataset come necessario
print("Dati:")
print(data_meta)
print("\nLabel:")
print(target_meta)
print("\nNomi delle feature:")
print(feature_names_meta)
print("\nDescrizione del dataset:")
print(description_meta)

# Creazione DataFrame con Pandas
df_meta = pd.DataFrame(data_meta, columns=feature_names_meta)
df_meta['target'] = target_meta
print(df_meta.head())

       DS_Name    T    N   p  k  Bin  Cost  SDratio  correl  cancor1  ...  \
0  Aust_Credit  690  690  14  2    4     0   1.2623  0.1024   0.7713  ...
1  Aust_Credit  690  690  14  2    4     0   1.2623  0.1024   0.7713  ...
2  Aust_Credit  690  690  14  2    4     0   1.2623  0.1024   0.7713  ...
3  Aust_Credit  690  690  14  2    4     0   1.2623  0.1024   0.7713  ...
4  Aust_Credit  690  690  14  2    4     0   1.2623  0.1024   0.7713  ...

   fract2  skewness  kurtosis      Hc      Hx    MCx    EnAtr  NSRatio  \
0     NaN    1.9701   12.5538  0.9912  2.3012  0.113  8.77168  19.3646
1     NaN    1.9701   12.5538  0.9912  2.3012  0.113  8.77168  19.3646
2     NaN    1.9701   12.5538  0.9912  2.3012  0.113  8.77168  19.3646
3     NaN    1.9701   12.5538  0.9912  2.3012  0.113  8.77168  19.3646
4     NaN    1.9701   12.5538  0.9912  2.3012  0.113  8.77168  19.3646

    Alg_Name  target
0        Ac2   3.893
1    Alloc80   5.450
2   BackProp   1.791
3      Bayes   1.557
4  BayesTree   3.114

[5 rows x 22 columns]

### 1.2 California_Housing

In [3]:
# Estraiamo i dati, le label e i nomi delle feature dal Dataset CALIFORNIA HOUSING
data_ch = california_housing.data
target_ch = california_housing.target
feature_names_ch = california_housing.feature_names
description_ch = california_housing.DESCR

# Ora puoi utilizzare i dati, le label e le informazioni sul dataset come necessario
print("Dati:")
print(data_ch)
print("\nLabel:")
print(target_ch)
print("\nNomi delle feature:")
print(feature_names_ch)
print("\nDescrizione del dataset:")
print(description_ch)

# Creazione DataFrame con Pandas
df_ch = pd.DataFrame(data_ch, columns=feature_names_ch)
df_ch['target'] = target_ch
print(df_ch.head())

Dati:
       longitude  latitude  housingMedianAge  totalRooms  totalBedrooms  \
0        -122.23     37.88                41         880            129
1        -122.22     37.86                21        7099           1106
2        -122.24     37.85                52        1467            190
3        -122.25     37.85                52        1274            235
4        -122.25     37.85                52        1627            280
...          ...       ...               ...         ...            ...
20635    -121.09     39.48                25        1665            374
20636    -121.21     39.49                18         697            150
20637    -121.22     39.43                17        2254            485
20638    -121.32     39.43                18        1860            409
20639    -121.24     39.37                16        2785            616

       population  households  medianIncome
0             322         126        8.3252
1            2401        1138        8.3014
2             496         177        7.2574
3             558         219        5.6431
4             565         259        3.8462
...           ...         ...           ...
20635         845         330        1.5603
20636         356         114        2.5568
20637        1007         433        1.7000
20638         741         349        1.8672
20639        1387         530        2.3886

[20640 rows x 8 columns]

Label:
0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: medianHouseValue, Length: 20640, dtype: float64

Nomi delle feature:
['longitude', 'latitude', 'housingMedianAge', 'totalRooms', 'totalBedrooms', 'population', 'households', 'medianIncome']

Descrizione del dataset:
**Data Description**

Information on the variables was collected using all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. Naturally, the geographical area included varies inversely with the population density. Distances among the centroids of each block group were computed as measured in latitude and longitude. All the block groups reporting zero entries for the independent and dependent variables were excluded. The final data contained 20,640 observations on 9 variables.

Each row in the dataset represents one census block group. A block group is the smallest geographical unit for which the U.S. Census Bureau publishes sample data (a block group typically has a population of 600 to 3,000 people).

The goal of the dataset is to predict the median house value. The original dataset description advised to predict the value using logarithmic transform.


**Attribute Description**

Census block group describing features:

1. *longitude*
2. *latitude*
3. *housingMedianAge*
4. *totalRooms*
5. *totalBedrooms*
6. *population*
7. *households*
8. *medianIncome*
9. *medianHouseValue* - target feature

Downloaded from openml.org.
   longitude  latitude  housingMedianAge  totalRooms  totalBedrooms  \
0    -122.23     37.88                41         880            129
1    -122.22     37.86                21        7099           1106
2    -122.24     37.85                52        1467            190
3    -122.25     37.85                52        1274            235
4    -122.25     37.85                52        1627            280

   population  households  medianIncome    target
0         322         126        8.3252  452600.0
1        2401        1138        8.3014  358500.0
2         496         177        7.2574  352100.0
3         558         219        5.6431  341300.0
4         565         259        3.8462  342200.0

### 1.3 Kin8nm

In [4]:
# Estraiamo i dati, le label e i nomi delle feature dal Dataset KIN8NM
data_kin8nm = kin8nm.data
target_kin8nm = kin8nm.target
feature_names_kin8nm = kin8nm.feature_names
description_kin8nm = kin8nm.DESCR

# Ora puoi utilizzare i dati, le label e le informazioni sul dataset come necessario
print("Dati:")
print(data_kin8nm)
print("\nLabel:")
print(target_kin8nm)
print("\nNomi delle feature:")
print(feature_names_kin8nm)
print("\nDescrizione del dataset:")
print(description_kin8nm)

# Creazione DataFrame con Pandas
df_kin8nm = pd.DataFrame(data_kin8nm, columns=feature_names_kin8nm)
df_kin8nm['target'] = target_kin8nm
print(df_kin8nm.head())

Dati:
        theta1    theta2    theta3    theta4    theta5    theta6    theta7  \
0    -0.015119  0.360741  0.469398  1.309675  0.988024 -0.025493  0.664071
1     0.360478 -0.301395  0.629183 -1.440146 -0.741637 -1.196749 -1.038444
2     1.563238 -1.294753  0.078987  1.432937  1.149136 -1.292140  1.562988
3     0.199485  0.901157 -1.356304 -0.080525 -0.976628  0.829894 -0.855649
4     0.659737  0.120552 -0.008756  0.648839  0.626832 -0.646539  1.318074
...        ...       ...       ...       ...       ...       ...       ...
8187  1.459523 -0.201551 -0.610721  1.424181  0.269273  1.172781 -0.509818
8188  0.654980 -0.823516 -0.809246  0.408441 -1.368838  0.582222 -1.394697
8189  0.103862  1.024329 -1.047221  0.280905 -0.181155 -0.651934 -1.241842
8190 -1.109311 -0.027690 -1.448736 -0.648566 -0.462142  0.814971  1.100615
8191  1.155010 -0.429331 -1.567260  0.883077 -1.203777 -0.126506  0.331042

        theta8
0     0.062763
1    -0.717461
2    -0.937731
3     0.930630
4    -0.899172
...        ...
8187 -0.686006
8188 -0.057294
8189  1.530220
8190  1.337159
8191 -1.327384

[8192 rows x 8 columns]

Label:
0       0.536524
1       0.308014
2       0.518900
3       0.494151
4       0.470218
          ...
8187    0.486093
8188    0.696752
8189    0.803888
8190    0.887959
8191    0.496853
Name: y, Length: 8192, dtype: float64

Nomi delle feature:
['theta1', 'theta2', 'theta3', 'theta4', 'theta5', 'theta6', 'theta7', 'theta8']

Descrizione del dataset:
**Author**:
**Source**: Unknown -
**Please cite**:

This is data set is concerned with the forward kinematics of an 8 link
 robot arm. Among the existing variants of this data set we have used
 the variant 8nm, which is known to be highly non-linear and medium
 noisy.

 Original source: DELVE repository of data.
 Source: collection of regression datasets by Luis Torgo (ltorgo@ncc.up.pt) at
 http://www.ncc.up.pt/~ltorgo/Regression/DataSets.html
 Characteristics: 8192 cases, 9 attributes (0 nominal, 9 continuous).

Downloaded from openml.org.
     theta1    theta2    theta3    theta4    theta5    theta6    theta7  \
0 -0.015119  0.360741  0.469398  1.309675  0.988024 -0.025493  0.664071
1  0.360478 -0.301395  0.629183 -1.440146 -0.741637 -1.196749 -1.038444
2  1.563238 -1.294753  0.078987  1.432937  1.149136 -1.292140  1.562988
3  0.199485  0.901157 -1.356304 -0.080525 -0.976628  0.829894 -0.855649
4  0.659737  0.120552 -0.008756  0.648839  0.626832 -0.646539  1.318074

     theta8    target
0  0.062763  0.536524
1 -0.717461  0.308014
2 -0.937731  0.518900
3  0.930630  0.494151
4 -0.899172  0.470218

### 1.4 Cshcase_Census2

In [5]:
# Estraiamo i dati, le label e i nomi delle feature dal Dataset KIN8NM
data_chcc2 = chscase_census2.data
target_chcc2 = chscase_census2.target
feature_names_chcc2 = chscase_census2.feature_names
description_chcc2 = chscase_census2.DESCR

# Ora puoi utilizzare i dati, le label e le informazioni sul dataset come necessario
print("Dati:")
print(data_chcc2)
print("\nLabel:")
print(target_chcc2)
print("\nNomi delle feature:")
print(feature_names_chcc2)
print("\nDescrizione del dataset:")
print(description_chcc2)

# Creazione DataFrame con Pandas
df_chcc2 = pd.DataFrame(data_chcc2, columns=feature_names_chcc2)
df_chcc2['target'] = target_chcc2
print(df_chcc2.head())

Dati:
      col_1    col_2    col_3    col_4    col_5    col_6    col_7
0    16.754  21.7430  16.0140  19.5413  17.5730  20.0110  19.3907
1    17.419  15.2250  12.5705  25.0069  20.4635  18.7705  19.4249
2    42.063  15.7570  30.8815  16.1605  20.8111  19.0999  19.5469
3    15.907  24.8285  16.0473  15.4880  23.9404  19.7499  18.7775
4    35.787  20.1530  21.5765  21.0381  20.6379  20.7242  18.6020
..      ...      ...      ...      ...      ...      ...      ...
395  13.232  21.6985  17.8110  15.5863  22.8264  18.3119  20.1592
396  15.632  17.8920  23.2730  21.8106  17.0332  19.9000  18.8605
397  45.271  18.7130  24.6893  14.7660  20.0488  20.6509  19.6883
398   9.431  32.3505  13.5570  17.7773  20.5473  18.7909  20.2040
399  10.631  12.2660  19.2515  20.7928  18.5736  20.6123  18.6656

[400 rows x 7 columns]

Label:
0      19.2227
1      19.7238
2      20.5771
3      20.2231
4      20.4897
        ...
395    19.8959
396    20.3573
397    19.9983
398    20.2885
399    20.6079
Name: col_8, Length: 400, dtype: float64

Nomi delle feature:
['col_1', 'col_2', 'col_3', 'col_4', 'col_5', 'col_6', 'col_7']

Descrizione del dataset:
**Author**:
**Source**: Unknown - Date unknown
**Please cite**:

File README
-----------

chscase  A collection of the data sets used in the book
"A Casebook for a First Course in Statistics and Data Analysis,"
by Samprit Chatterjee, Mark S. Handcock and Jeffrey S. Simonoff,
John Wiley and Sons, New York, 1995. Submitted by
Samprit Chatterjee (schatterjee@stern.nyu.edu),
Mark Handcock (mhandcock@stern.nyu.edu) and
Jeff Simonoff (jsimonoff@stern.nyu.edu)

This submission consists of 38 files, plus this README file.
Each file represents a data set analyzed in the book. The names
of the files correspond to the names used in the book. The data
files are written in plain ASCII (character) text. Missing
values are represented by "M" in all data files.

More information about the data sets and the book can be
obtained via gopher at the address
swis.stern.nyu.edu

The information is filed under
---> Academic Departments & Research Centers
---> Statistics and Operations Research
---> Publications
---> A Casebook for a First Course in Statistics and Data Analysis
---> Welcome!

It can also be accessed from the World Wide Web (WWW) using a
WWW browser (e.g., netscape) starting from the URL address
http://www.stern.nyu.edu/SOR/Casebook



NOTICE: These datasets may be used freely for scientific,
educational and/or non-commercial purposes, provided suitable
acknowledgment is given (by citing the Chatterjee, Handcock and
Simonoff reference above).

File: census2.dat

Note: attribute names were generated automatically since there was no
information in the data itself.


Information about the dataset
CLASSTYPE: numeric
CLASSINDEX: none specific

Downloaded from openml.org.
    col_1    col_2    col_3    col_4    col_5    col_6    col_7   target
0  16.754  21.7430  16.0140  19.5413  17.5730  20.0110  19.3907  19.2227
1  17.419  15.2250  12.5705  25.0069  20.4635  18.7705  19.4249  19.7238
2  42.063  15.7570  30.8815  16.1605  20.8111  19.0999  19.5469  20.5771
3  15.907  24.8285  16.0473  15.4880  23.9404  19.7499  18.7775  20.2231
4  35.787  20.1530  21.5765  21.0381  20.6379  20.7242  18.6020  20.4897

## 2. Preprocessing

## 3. Regressione